@model EntityLayer.Concrete.User

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Start/StartingLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row flex-grow">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left p-5">
                            <div class="brand-logo">
                                <h2>Ağız ve Diş Sağlığı Takip Uygulaması</h2>
                            </div>
                            <h4>Yeni misiniz?</h4>
                            <h6 class="font-weight-light">Kayıt olmak çok kolay, aşağıdaki bilgileri eksiksiz doldur ve uygulamayı keşfetemye başla!</h6>

                            @if (ViewData.ModelState.Values.Any(v => v.Errors.Count > 0))
                            {
                                <div class="alert alert-danger">
                                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                    {
                                        <div>@error.ErrorMessage</div>
                                    }
                                </div>
                            }

                            <form class="pt-3" asp-action="Index" asp-controller="Register" method="post">
                                <div class="form-group">
                                    <input asp-for="UserFullName" type="text" class="form-control form-control-lg" placeholder="Ad Soyad">
                                </div>
                                <div class="form-group">
                                    <input asp-for="UserEmail" type="email" class="form-control form-control-lg" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input asp-for="UserBirthDate" type="date" class="form-control form-control-lg" placeholder="Doğum Tarihi">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" class="form-control form-control-lg" placeholder="Şifre">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="confirmPassword" class="form-control form-control-lg" placeholder="Şifre Tekrar">
                                </div>
                                <div class="mb-4">
                                    <div class="form-check">
                                        <label class="form-check-label text-muted">
                                            <input type="checkbox" class="form-check-input" required> Tüm Şartlar ve Koşulları kabul ediyorum
                                        </label>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <button type="submit" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn">KAYIT OL</button>
                                </div>
                                <div class="text-center mt-4 font-weight-light">
                                    Zaten hesabınız var mı? <a href="/Login/Index/" class="text-primary">Giriş Yap</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/tema/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/tema/assets/js/off-canvas.js"></script>
    <script src="~/tema/assets/js/hoverable-collapse.js"></script>
    <script src="~/tema/assets/js/misc.js"></script>
</body>
</html>

