@model PasswordResetViewModel

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/Start/StartingLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body>
    <div class="container">
        <h2>Şifre Yenileme Sayfasına Hoş Geldiniz</h2>
        <p><i>Lütfen yeni şifrenizi giriniz...</i></p>
        <form asp-action="ResetPassword" method="post">
            <input type="hidden" name="email" value="@Model.Email" />
            <div class="form-group">
                <input type="password" name="newPassword" class="form-control" placeholder="Yeni Şifre" required>
            </div>
            <div class="form-group">
                <input type="password" name="confirmPassword" class="form-control" placeholder="Şifre Tekrarı" required>
            </div>
            <button type="submit" class="btn btn-primary">Şifreyi Yenile</button>
        </form>
        @if (!ViewData.ModelState.IsValid)
        {
            var errors = ViewData.ModelState.Values.SelectMany(v => v.Errors);
            foreach (var error in errors)
            {
                <div class="alert alert-danger">
                    @error.ErrorMessage
                </div>
            }
        }
    </div>
</body>
</html>