@model DentalHealthApp.Models.HomeViewModel

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <span class="font-weight-bold mb-2">@Model.UserName</span>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Home/Index/">
                <span class="menu-title">Ana Sayfa</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Profile/Index/">
                <span class="menu-title">Profilim</span>
                <i class="mdi mdi-account-circle menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Health/Index">
                <span class="menu-title">Ağız ve Diş Sağlığı</span>
                <i class="mdi mdi-heart-pulse menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/forms/basic_elements.html">
                <span class="menu-title">Özet</span>
                <i class="mdi mdi-chart-bar menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Logout/Index">
                <span class="menu-title">Çıkış Yap</span>
                <i class="mdi mdi-logout-variant menu-icon"></i>
            </a>
        </li>
    </ul>
</nav>