@model DentalHealthApp.Models.HomeViewModel

<div>
    <h2>@Model.NoteTitle</h2>
    <p style="font-size: 18px;">@Model.NoteDescription</p>
    <br />

    @if (!string.IsNullOrEmpty(Model.NoteImage))
    {
        <img src="@Model.NoteImage" alt="Note Image" class="img-fluid" style="width: 200px; height: 200px;" />
    }
    else
    {
        
    }
</div>
